@media (prefers-color-scheme: light) {
    :root {
        --backcolor: #eee;
        --surface-sep: rgba(255, 255, 255, 0.25);
        --surface-btn: rgba(255, 255, 255, .5);
        --backcolor-inv: #222;
        --back-gradi: url('../demo/back1.png');

        --module-back: #eee;
        --icon-back: #fff;

        --context-menu-back: #eeeeee55;
        --context-menu-sep: rgba(0, 0, 0, .5);
        --context-border-a: #00000045;
        --context-border-b: #ffffffd3;

        --text-a: #eaeaea;
        --text-b: #000;

        --gmenu-a: #E9EEF6;
        --gmenu-b: #F8FAFE;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --backcolor: #222;
        --surface-sep: #ffffff55;
        --surface-btn: rgba(255, 255, 255, .25);
        --backcolor-inv: #eee;
        --back-gradi: url('../demo/back2.png');

        --module-back: #515151;
        --icon-back: #6E6E6E;

        --context-menu-back: #22222255;
        --context-menu-sep: #ffffff40;
        --context-border-a: #000000;
        --context-border-b: #FFFFFF11;

        --text-a: #000;
        --text-b: #fff;

        --gmenu-a: #282A2C;
        --gmenu-b: #1B1B1B;
    }
}

.surface-item {
    box-shadow: 0 5px 10px #00000028;
    background-color: var(--module-back);
}

.hud {
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;

    display: none;
}