body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--backcolor);
    color: var(--text-b);

    overflow: hidden;

    position: relative;

    opacity: 0;
    transition: .5s;

    user-select: none;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body.loaded {
    opacity: 1;
}

body::after {
    content: '';
    pointer-events: none;

    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;

    background-color: var(--accent);
    mix-blend-mode: overlay;
}

body.light-theme::after {
    mix-blend-mode: multiply;
    opacity: .5;
}


body.controllerOpen .container {
    width: calc(100vw - 242px);
    height: calc(100vh - 16px);
    transform: translateY(8px);
    box-shadow:
        7px 0 15px #00000055;
    border-radius: 0 11px 11px 0;
}

.container {
    background-color: var(--backcolor);
    transition: .5s;
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100vw;
    height: 100vh;

    overflow: hidden;

    display: flex;
    gap: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body.loaded .container {
    opacity: 1;
}

.version {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9;
    padding: 5px 10px;

    font-size: 12px;

    background-color: var(--module-back);
    border-radius: 500px;
    cursor: pointer;
}

.version:hover {
    text-decoration: underline;
}

.back {
    width: 100vw;
    height: 100vh;

    position: absolute;
    z-index: -2;

    object-position: center;
    object-fit: cover;
    opacity: 0;

    pointer-events: none;

    transition: opacity .5s;
    transition-delay: .25s;
}

body.loaded .back {
    opacity: 0;
}

body.dark-theme.loaded .back {
    opacity: .5 !important;
}

body.light-theme.loaded .back {
    opacity: .75 !important;
}

.chromeBar {
    position: absolute;
    top: 0;
    right: 0;

    width: max-content;
    height: fit-content;

    display: flex;
    align-items: center;
    gap: 20px;

    opacity: 0;
    pointer-events: none;

    box-sizing: border-box;
    padding: 15px;

    font-size: 13px;

    &.visible {
        opacity: 1;
        pointer-events: all;
    }

    & a {
        text-decoration: none;
        color: var(--text-b);

        &:hover {
            text-decoration: underline;
        }
    }
}

.waffleBtn {
    width: 35px;
    height: 35px;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    font-family: 'SF Pro', SFPro;

    &:hover,
    &:active {
        background-color: var(--surface-btn);
    }
}

.profileBtn {
    width: 35px;
    aspect-ratio: 1/1;
    background-color: white;
    background-image: var(--avatar-image-url);
    border-radius: 50%;
}

.googApps {
    width: 400px;
    height: 470px;

    overflow-y: scroll;
    scrollbar-width: 8px;

    position: absolute;
    top: 60px;
    right: 10px;
    z-index: 200;

    padding: 11px;

    display: none;
    align-items: center;
    flex-direction: column;

    background-color: var(--gmenu-a);
    border-radius: 28px;
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, .3), 0 -2px 6px 2px rgba(0, 0, 0, .15);

    &.visible {
        display: flex;
    }
}

.apps {
    width: 100%;
    height: fit-content;

    padding: 24px 20px;
    box-sizing: border-box;
    margin: 0;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 20px;

    background-color: var(--gmenu-b);
    border-radius: 22px;
}

.gApp:not(.moreGoogle) {
    width: 88px;
    height: 88px;
    padding: 6px;

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    position: relative;
    border: 2px solid transparent;

    border-radius: 16px;

    &:hover {
        background-color: var(--gmenu-a);
    }

    &::after {
        content: attr(id);
        font-size: 14px;
        line-height: 18px;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: auto;
    }

    & .icn {
        width: 57px;
        height: 57px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        /* background-color: var(--module-back); */
        /* aspect-ratio: 1/1; */

        & span {
            width: 53px;
            height: 53px;
            display: inline-block;
            background-image: url(https://ssl.gstatic.com/gb/images/sprites/p_1x_7725e9c78408.png);
            background-size: 53px 2547px;
            /* background-position: 0 -2378px; */
            background-repeat: no-repeat;
        }
    }

    &.sortable-placeholder {
        pointer-events: none;
        border: 2px dashed #aaa;
    }
}

.moreGoogle {
    width: max-content;
    height: 40px;

    display: inline-block;

    color: var(--text-b);
    border-radius: 100px;
    border: 1px solid #8e918f;

    font-size: 14px;
    font-weight: 500;
    text-align: center;

    margin: 15px 0;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 10px 24px;

    position: relative;

    cursor: pointer;

    &:before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        border-radius: 100px;
        background: #a8c7fa;
        background: var(--gm3-sys-color-primary, #a8c7fa);
        transition: opacity .5s ease-out;
    }

    &:hover::before {
        opacity: .08;
    }
}

.ntp-module {
    width: calc(100% - 100px);
    min-width: 464px;
    max-width: 944px;
    height: fit-content;
    min-height: 56px;
    /* padding: 20px; */
    box-sizing: border-box;
    margin: 0 50px;

    position: relative;

    border-radius: 11px;

    transition: .2s;
}

.ntp-module.hidden {
    display: none;
}

.ntp-module::before {
    content: attr(label);
    font-size: 22px;
    font-weight: 700;

    position: absolute;
    top: -40px;
    left: 0;
}

.controller-btn {
    font-size: 17px;
    font-weight: 600;
    opacity: .5;

    font-family: 'SF Pro', SFPro;

    background-color: var(--accent) !important;
    color: var(--accent-contrast);
    box-sizing: border-box;
    padding: 5px 28px 5px 5px;
    overflow: hidden;
    border-radius: 20px 0 0 20px;

    transition: .15s;

    position: absolute;
    bottom: 9px;
    right: -15px;
}

.controller-btn::before {
    content: '􀆉';
    font-size: 11px;
    font-family: 'SF Pro', SFPro;

    position: absolute;
    top: 9px;
    left: -4px;
    transition: .15s;
    opacity: 0;
}

body.controllerOpen .controller-btn {
    right: 10px;
    border-radius: 50px;

    padding-right: 23px;
    padding-left: 10px;
    opacity: .7;
}

.controller-btn:hover::before {
    opacity: 1;
    left: 8px;
}

body.controllerOpen .controller-btn::before {
    transform: rotate(180deg);
    opacity: 1;
    left: 38px;
}

.controller-btn:hover {
    right: 0;
    padding-right: 13px;
    padding-left: 20px;
    opacity: .7;
}

.controller-btn:active {
    opacity: 1;
}

.controller {
    width: 232px;
    height: 100%;

    box-sizing: border-box;
    padding-top: 5px;
    /* background-color: var(--context-menu-back); */

    position: absolute;
    z-index: 8;
    top: 0;
    right: 0;
    overflow: hidden;
    opacity: 0;

    transition: .5s;

    display: flex;
    flex-direction: column;

    pointer-events: none;
}

.controller.visible {
    pointer-events: all;
    opacity: 1;
}

.controller::after {
    content: '';
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    pointer-events: none;

    /* border-radius: inherit; */
    /* opacity: .75; */
}

.controller::before {
    content: "Settings";

    font-size: 20px;
    font-weight: 600;
    padding: 5px 10px;
}

.controller .sections {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: calc(100% - 10px);
}

.controller .sections .settingBox {
    background-color: var(--surface-btn);
    border-radius: 8px;
}

.settingBox {
    width: 100%;
    height: 30px;

    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5px;
}

.settingBox label {
    font-size: 14px;
}

.settingBox[label="Background"] {
    margin-top: auto;

    position: relative;
}

.settingBox[label="Background"]::before {
    content: '';

    width: 90%;
    height: 1px;

    position: absolute;
    top: -5px;
    left: 5%;

    background-color: var(--surface-sep);
}

.settingCB {
    accent-color: var(--accent);
    color: var(--accent-contrast) !important;
}

.settingCB::after {
    color: var(--accent-contrast) !important;
}

.wall-reel {
    width: 100%;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    gap: 5px;

    position: relative;

    height: 0;
    overflow-x: hidden;
    overflow-y: hidden;

    padding: 0;
    margin-top: 5px;
    /* scrollbar-width: none !important; */

    /* border-radius: 0 0 8px 8px; */
    /* background-color: rgba(255, 255, 255, .1); */
}

.wall-reel.visible {
    height: fit-content;
    overflow-x: scroll;
    padding: 10px;
}

.wall-reel .wr-wall {
    aspect-ratio: 1920/1080;
    height: 65px;
    flex-shrink: 0;
    overflow: hidden;

    position: relative;

    border-radius: 5px;
    background-color: var(--icon-back);
    background-size: cover;
}

.wall-reel .wr-wall.selected,
.wall-reel .wr-wall[index='0'].selected .bi {
    box-shadow: inset 0 0 0 3px var(--text-b);
}

.wr-wall[index='0'] {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: attr(background-image);
    border: none !important;
}

.wr-wall[index='0']::before {
    content: "+";

    position: absolute;
    z-index: 2;
    color: var(--text-b);
    font-size: 30px;
}

.wr-wall[index='0'] .bi {
    width: 100%;
    height: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
}

.wr-wall[index='0'].selected .bi {
    opacity: .5;
}

.wr-wall[index='0'] label {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    padding-bottom: 100px;
    opacity: 0;
}

.wr-wall[index='0'] input {
    width: fit-content;
    height: fit-content;
}

.item-context-menu {
    width: 200px;
    height: fit-content;

    box-sizing: border-box;
    padding: 5px;

    position: absolute;
    z-index: 100;
    bottom: 60px;
    right: 18px;
    overflow: hidden;

    gap: 1px;
    display: flex;
    flex-direction: column;

    /* transition: opacity .2s; */

    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
    box-shadow:
        0 5px 10px #00000028;
}

.item-context-menu.visible {
    opacity: 1;
    pointer-events: all;
}

.item-context-menu::before {
    content: '';
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border-radius: 8px;
    background-color: var(--context-menu-back);
    /* opacity: .75; */
    backdrop-filter: blur(50px);
    box-shadow:
        inset 0 0 0 1px var(--context-border-a),
        inset 0 0 0 2px var(--context-border-b);
}

.item-context-menu .icm-item {
    /* margin-left: 3px; */
    width: calc(100%);
    height: 24px;

    font-size: 14px;
    border-radius: 5px;

    position: relative;

    padding: 0 10px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
}

.item-context-menu .icm-item:hover {
    background-color: var(--accent);
}

.icm-item.icm-newtab {
    margin-bottom: 10px;
}

.icm-item.icm-newtab::after {
    content: '';

    position: absolute;
    left: 10px;
    bottom: -6px;

    width: calc(100% - 20px);
    height: 1px;

    pointer-events: none;

    background-color: var(--context-menu-sep);

}