body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--backcolor);
    color: var(--text-b);

    display: flex;
    gap: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    user-select: none;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.back {
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: -2;

    background-image: var(--back-gradi);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;

    transition: opacity .5s;
    transition-delay: .25s;
}

body.loaded .back {
    opacity: 0;
}

body.loaded .back.visible,
.back.visible {
    opacity: .5;
}

.ntp-module {
    width: calc(100% - 100px);
    min-width: 464px;
    max-width: 944px;
    height: fit-content;
    min-height: 56px;
    /* padding: 20px; */
    box-sizing: border-box;
    margin: 0 50px;

    position: relative;

    border-radius: 11px;

    transition: .2s;
}

.ntp-module.hidden {
    display: none;
}

.ntp-module::before {
    content: attr(label);
    font-size: 22px;
    font-weight: 700;

    position: absolute;
    top: -40px;
    left: 0;
}

.controller-btn {
    font-size: 28px;
    font-weight: 600;
    opacity: .6;

    font-family: 'SF Pro', SFSymbols;

    position: absolute;
    bottom: 9px;
    right: 18px;
}

.controller-btn:active {
    opacity: 1;
}

.controller {
    width: 232px;
    height: fit-content;

    box-sizing: border-box;
    padding-top: 5px;
    background-color: var(--context-menu-back);

    position: absolute;
    z-index: 10;
    bottom: 60px;
    right: 18px;
    overflow: hidden;

    transition: .2s;

    border-radius: 8px;
    transform: scale(.6);
    transform-origin: bottom right;
    pointer-events: none;
    opacity: 0;
    backdrop-filter: blur(50px);
    box-shadow:
        0 5px 10px #00000028;
}

.controller.visible {
    transform: scale(1);
    opacity: 1;
    pointer-events: all;
}

.controller::before {
    content: '';
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    pointer-events: none;

    border-radius: 8px;
    /* opacity: .75; */
    box-shadow:
        inset 0 0 0 1px #000,
        inset 0 0 0 2px #ffffff11;
}

.settingBox {
    width: 100%;
    height: 30px;

    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5px;
    /* background-color: var(--icon-back); */
}

.settingBox label {
    font-size: 14px;
}

.settingBox[label="Background"] {
    margin-top: 10px;

    position: relative;
}

.settingBox[label="Background"]::before {
    content: '';

    width: 90%;
    height: 1px;

    position: absolute;
    top: -5px;
    left: 5%;

    background-color: var(--surface-sep);
}

.wall-reel {
    width: 100%;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    gap: 5px;

    position: relative;

    height: 0;
    overflow-x: hidden;
    overflow-y: hidden;

    padding: 0;
    margin-top: 5px;
    /* scrollbar-width: none !important; */

    border-radius: 0 0 8px 8px;
    background-color: rgba(255, 255, 255, .1);
}

.wall-reel.visible {
    height: fit-content;
    overflow-x: scroll;
    padding: 10px;
}

.wall-reel .wr-wall {
    aspect-ratio: 1920/1080;
    height: 65px;

    border-radius: 5px;
    background-color: var(--icon-back);
    background-size: cover;
}

.wall-reel .wr-wall.selected {
    box-shadow: inset 0 0 0 2px highlight;
}

.item-context-menu {
    width: 200px;
    height: fit-content;

    box-sizing: border-box;
    padding: 5px;

    position: absolute;
    z-index: 100;
    bottom: 60px;
    right: 18px;
    overflow: hidden;

    gap: 1px;
    display: flex;
    flex-direction: column;

    /* transition: opacity .2s; */

    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
    box-shadow:
        0 5px 10px #00000028;
}

.item-context-menu.visible {
    opacity: 1;
    pointer-events: all;
}

.item-context-menu::before {
    content: '';
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border-radius: 8px;
    background-color: var(--context-menu-back);
    /* opacity: .75; */
    backdrop-filter: blur(50px);
    box-shadow:
        inset 0 0 0 1px var(--context-border-a),
        inset 0 0 0 2px var(--context-border-b);
}

.item-context-menu .icm-item {
    /* margin-left: 3px; */
    width: calc(100%);
    height: 24px;

    font-size: 14px;
    border-radius: 5px;

    position: relative;

    padding: 0 10px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
}

.item-context-menu .icm-item:hover {
    background-color: purple;
}

.icm-item.icm-newtab {
    margin-bottom: 10px;
}

.icm-item.icm-newtab::after {
    content: '';

    position: absolute;
    left: 10px;
    bottom: -6px;

    width: calc(100% - 20px);
    height: 1px;

    pointer-events: none;

    background-color: var(--context-menu-sep);

}